* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Anybody";
    scroll-behavior: smooth;
    vertical-align: middle;
  }
  body{
    background-image: linear-gradient(135deg, #0b053a 90%, #332d62);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about h1{
      color: #00C89F;
      font-size: 2.5rem;
  }
  .about p{
      color: white;
      font-size: 1.5rem;
      margin: 2rem 1rem;
  }
  .about ul{
      list-style: none;
  }
  .about a{
      text-decoration: none;
      color: white;
      font-size: 2rem;
      line-height: 2.5rem;
  }
  .fa-twitter{
      color:#1DA1F2;
  }
  .fa-youtube{
      color: #FF0000;
  }
  .fa-reddit{
      color: #FF4301;
  }
  .fa-twitch{
   color:  #6441A4;
  }
  @media screen and (max-width: 768px) {
      .about p{
          font-size: 0.8rem;
          margin: 1rem;
      }
      .about h1{
          font-size: 1.5rem;
      }
      .about a{
          line-height: 1.5rem;
          font-size: 1rem;
      }
  }